<script>
import BaseInput from "../ui/BaseInput.vue";
import BaseButton from "../ui/BaseButton.vue";
import BaseChip from "../ui/BaseChip.vue";
import dataJson from "../../DB/data.json";
import { ref, onMounted } from "vue";

export default {
  components: {
    BaseButton,
    BaseInput,
    BaseChip,
  },
  setup() {
    const textFrom = ref("");
    const textTo = ref("");
    const cities = ref([]);
    const distances = ref([]);
    const selectedCityFrom = ref({});
    const selectedCityTo = ref({});
    const deliveryCost = ref(0);
    const distance = ref(0);
    const time = ref(0);
    const isShowResetBtn = ref(false);

    onMounted(() => {
      cities.value = dataJson.cities;
      distances.value = dataJson.distances;
    });

    function determineTime(distance) {
      if (distance < 100) {
        return 24;
      } else if (distance >= 100 || distance < 500) {
        return 84;
      }
      return 96;
    }
    function findDistance() {
      const finded = distances.value.find((e) => {
        if (
          (e.from === selectedCityFrom.value.id &&
            e.to === selectedCityTo.value.id) ||
          (e.to === selectedCityFrom.value.id &&
            e.from === selectedCityTo.value.id)
        ) {
          return e;
        }
      });
      distance.value = finded.value;
    }
    function calculateCost() {
      if (selectedCityFrom.value.id && selectedCityTo.value.id) {
        findDistance();
        time.value = determineTime(distance);
        deliveryCost.value = distance.value * time.value;
        isShowResetBtn.value = true;
      }
    }
    function reset() {
      textFrom.value = "";
      textTo.value = "";
      deliveryCost.value = 0;
      time.value = 0;
      distance.value = 0;
      isShowResetBtn.value = false;
    }

    function changeInputValues() {
      // for str
      const tmpStr = textFrom.value;
      textFrom.value = textTo.value;
      textTo.value = tmpStr;
      // for obj
      const tmpObj = selectedCityFrom.value;
      selectedCityFrom.value = selectedCityTo.value;
      selectedCityTo.value = tmpObj;
    }
    return {
      textFrom,
      textTo,
      cities,
      selectedCityFrom,
      selectedCityTo,
      deliveryCost,
      distance,
      time,
      isShowResetBtn,
      // methods
      calculateCost,
      reset,
      changeInputValues,
    };
  },
};
</script>
<template>
  <div class="is-flex tab-content">
    <BaseInput
      v-model="textFrom"
      :list="cities"
      list-name="address"
      placeholder="Откуда"
      @selected="(val) => (selectedCityFrom = val)"
    />
    <img
      class="switcher"
      src="../../assets/arrow-left-right.svg"
      alt="switch"
      @click="changeInputValues"
    />
    <BaseInput
      v-model="textTo"
      :list="cities"
      list-name="address"
      placeholder="Куда"
      @selected="(val) => (selectedCityTo = val)"
    />
    <BaseButton
      class="calc-btn"
      @click="calculateCost"
      text="Рассчитать стоимость"
    />
  </div>
  <!-- <BaseChip text="moskva" /> -->
  <div class="tablo is-flex">
    <div class="is-flex is-align-items-center">
      <img src="../../assets/icons/distance-icon.svg" alt="" />
      <span>Расстояние:</span>
      <span>{{ distance }} км</span>
    </div>
    <div class="is-flex is-align-items-center">
      <img src="../../assets/icons/clock-icon.svg" alt="" />
      <span>Время:</span>
      <span>{{ time }} ч</span>
    </div>
    <div class="is-flex is-align-items-center">
      <img src="../../assets/icons/tenge-icon.svg" alt="" />
      <span>Стоимость:</span>
      <span>{{ deliveryCost }} ₸</span>
    </div>
    <div class="tablo-btns is-flex is-justify-content-end">
      <BaseButton v-if="isShowResetBtn" @click="reset" text="Сбросить" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.switcher {
  cursor: pointer;
}
.tab-content {
  gap: 20px;
  margin-bottom: 12px;
}
.tablo {
  margin-top: 28px;
  gap: 20px;
  & > div {
    gap: 10px;
  }
  &-btns {
    flex: 1;
  }
}
</style>
