<template>
  <section id="benefits">
    <div class="container">
      <div class="title">Наши преимущества</div>
      <div class="benefits">
        <div class="benefits__item">
          <img src="../../assets/icons/fast-delivery.svg" alt="" />
          <p>Быстрая доставка</p>
        </div>
        <div class="benefits__item">
          <img src="../../assets/icons/anywhere-delivery.svg" alt="" />
          <p>Быстрая доставка</p>
        </div>
        <div class="benefits__item">
          <img src="../../assets/icons/everyday-delivery.svg" alt="" />
          <p>Быстрая доставка</p>
        </div>
        <div class="benefits__item">
          <img src="../../assets/icons/warehouse-delivery.svg" alt="" />
          <p>Быстрая доставка</p>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

#benefits {
  padding-top: 60px;
}
.benefits {
  margin-top: 30px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  &__item {
    min-width: 212px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 16px;
    flex: 1;
    background: $light-grey;

    p {
      font-weight: $fw-bold;
      font-size: $fs-md;
    }
  }
}
</style>
