<template>
  <section id="history" class="history-exline">
    <div class="container">
      <div class="title">История Exline</div>
      <div class="is-flex block">
        <div class="left-block">
          <div class="left-block__top">
            <div class="title">
              Курьерская компания Exline основана 31 июля 2003 года
            </div>
            <div class="description">
              За время работы компания Exline заняла достойную нишу на рынке
              почтовых услуг, зарекомендовав себя как надежного партнера,
              которому доверяют свои отправления многие компании казахстанского
              и международного бизнеса
            </div>
          </div>
          <div class="left-block__bottom">
            <img src="../../assets/posta.png" alt="" />
          </div>
        </div>
        <div class="right-block">
          <div class="right-block__top">
            <img src="../../assets/posta2.png" alt="" />
          </div>
          <div class="right-block__bottom">
            <div class="title">
              Курьерская компания Exline, оказывая доступные услуги всем,
              предлагает индивидуальный подход к каждому клиенту!
            </div>
            <div class="description">
              Развивая свой бизнес, мы хотим быть полезными в развитие Вашего
              бизнеса! Профессиональный опыт сотрудников курьерской компании
              Exline и опыт наших партнеров дает нам право быть уверенными в
              том, что наше сотрудничество обеспечит сторонам экономию средств и
              времени! ExLine — линия надежной доставки!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

.history-exline {
  padding-top: 60px;
}
.block {
  margin-top: 30px;
  gap: 20px;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.left-block {
  flex: 0.8;
}
.left-block,
.right-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-block__top,
.right-block__bottom {
  padding: 30px;
  background: $light-grey;
}
</style>
