<script>
import BaseButton from "../ui/BaseButton.vue";
import CaclculateCost from "../tabs/CaclculateCost.vue";
import Carousel from "../ui/Carousel.vue";
import Tabs from "../ui/Tabs.vue";
import { ref } from "vue";

export default {
  components: {
    BaseButton,
    CaclculateCost,
    Carousel,
    Tabs,
  },
  setup() {
    const tabs = ref([
      { id: "tab1", name: "Рассчитать стоимость" },
      { id: "tab2", name: "Вызвать курьера" },
      { id: "tab3", name: "Отследить посылку" },
    ]);
    return {
      tabs,
    };
  },
};
</script>
<template>
  <section id="main">
    <div class="bg-purple"></div>
    <div class="container">
      <Carousel class="carousel">
        <template #content>
          <div class="is-flex is-align-items-center">
            <div class="carousel-left">
              <div class="title">Внутригородская доставка</div>
              <div class="description">
                Курьерская служба Exline предлагает Вашему вниманию услуги по
                внутригородской доставке отправлений во всех областных центрах
                Республики Казахстан
              </div>
              <BaseButton text="Подробнее" />
            </div>
            <div class="carousel-right">
              <img src="../../assets/icons/layer.svg" alt="layer" />
            </div>
          </div>
        </template>
      </Carousel>
      <Tabs :tabs="tabs">
        <template v-slot:tabItem1>
          <CaclculateCost />
        </template>
        <template v-slot:tabItem2>second</template>
        <template v-slot:tabItem3>third</template>
      </Tabs>
    </div>
  </section>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

#main {
  position: relative;
  background-color: $light-grey;
  .bg-purple {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../../assets/Ellipse.png") no-repeat 100% top;
    background-size: 50vw 70vh;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .description {
    margin-bottom: 24px;
  }
}
</style>
