<template>
  <footer class="footer">
    <div class="container">
      <div
        class="is-flex is-align-items-center is-justify-content-space-between"
      >
        <a href="/">
          <img src="../assets/Logo.svg" class="logo" />
        </a>
        <div>Какие-то ссылки</div>
        <div>© Все права защищены 2023</div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
@import "../assets/styles/scss/variables";
.footer {
  margin-top: 30px;
  padding: 30px 0;
  background: $light-grey;
}
</style>
