<template>
  <header class="header">
    <div class="container">
      <div class="is-flex is-align-items-center">
        <a href="/">
          <img src="../assets/Logo.svg" class="logo" />
        </a>
        <ul class="nav is-flex is-justify-content-end">
          <li><a href="#" class="links">Главная</a></li>
          <li><a href="#benefits" class="links">Наши преимущества</a></li>
          <li><a href="#history" class="links">История Exline</a></li>
          <li><a href="#" class="links">Нам доверяют</a></li>
          <li><a href="#contacts" class="links">Контакты</a></li>
          <li><a href="#" class="links contacts">info@exline.kz</a></li>
          <li><a href="#" class="links contacts">+77056861811</a></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
@import "../assets/styles/scss/variables";
.header {
  padding: 12px 0;
  position: sticky;
  top: 0px;
  z-index: 100;
  background: $light;
  .contacts {
    color: $purple !important;
  }
  .nav {
    flex: 1;
    .logo {
      display: block;
    }
    li {
      position: relative;
      overflow: hidden;
      padding-bottom: 6px;
      text-align: center;
      & + li {
        margin-left: 20px;
      }
    }
    .links {
      font-size: $fs-sm;
      color: $dark;
      &::before {
        content: "";
        position: absolute;
        transition: transform 0.5s ease;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $light-red;
        transform: translateX(-100%);
      }
      &:hover::before {
        transform: translateX(0);
      }
    }
  }
}
</style>
