@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
@import './variables';


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: $ff-primary;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1104px;
  width: 100%;
  margin: 0 auto;
}
// Bulma style guide
.is-flex {
  display: flex;
}
.is-align-items-center {
  align-items: center;
}
.is-justify-content-end {
  justify-content: end;
}
.is-justify-content-space-between {
  justify-content: space-between;
}
.title {
  font-size: $fs-lg;
  font-weight: $fw-extra-bold;
  &+ * {
    margin-top: 16px;
  }
}
.description {
  font-size: $fs-sm;
  font-weight: $fw-regular;
  color: $dark800;
}
.calc-btn {
  flex: 1;
  p {
    width: 100% !important;
    text-align: center;
  }
}