// font size
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 24px;

// font weight

$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

// colors
$light: #fff;
$dark: #000;
$purple: #583899;
$light-red: #EF363C;
$dark800: rgba(0, 0, 0, 0.75);
$light-grey: #f6f6f6;

//font family
$ff-primary: 'Mulish', sans-serif;


// border radius
$br-normal: 12px