<script>
import TheHeader from "./components/TheHeader.vue";
import Main from "./components/sections/Main.vue";
import Benefits from "./components/sections/Benefits.vue";
import ExlineHistory from "./components/sections/ExlineHistory.vue";
// import Contacts from "./components/sections/Contacts.vue";
import TheFooter from "./components/TheFooter.vue";
export default {
  components: {
    TheHeader,
    Main,
    Benefits,
    ExlineHistory,
    // Contacts,
    TheFooter,
  },
};
</script>

<template>
  <TheHeader />
  <Main />
  <Benefits />
  <ExlineHistory />
  <!-- <Contacts /> -->
  <TheFooter />
</template>

<style lang="scss" scoped>
div {
  span {
    color: lightblue;
  }
}
</style>
