<script>
export default {
  props: {
    text: String,
  },
};
</script>
<template>
  <span class="chips">
    {{ text }}
  </span>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

.chips {
  display: inline-block;
  background: #f6f6f6;
  border-radius: $br-normal;
  padding: 6px 12px;
  cursor: pointer;
}
</style>
