<script>
export default {
  props: {
    text: {
      type: String,
      default: "click me",
      required: true,
    },
  },
  setup() {},
};
</script>
<template>
  <button class="button">
    <p>{{ text }}</p>
  </button>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

.button {
  border: 0;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  color: $light;
  padding: 12px 16px;
  background-color: $light-red;
  border-radius: $br-normal;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  p {
    width: 168px;
  }
  &:active {
  }
  &::after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }
  &:hover::after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
</style>
