<script setup>
import { defineProps, defineEmits, ref, computed, nextTick } from "vue";
import useDetectOutsideClick from "../../modules/useDetectOutsideClick";

// props

const props = defineProps({
  modelValue: String,
  list: {
    type: Array,
    default: [],
  },
  listName: String,
  itemValue: String,
  placeholder: String,
});

// computed

const model = computed({
  get() {
    return props.modelValue;
  },

  set(value) {
    emit("update:modelValue", value);
    filterList();
  },
});

// data
const componentRef = ref();
let filteredList = ref([]);
const emit = defineEmits(["update:modelValue"]);

// methods
async function filterList() {
  await nextTick;
  filteredList.value = props.list.filter((e) =>
    e[props.listName].toLowerCase().startsWith(props.modelValue.toLowerCase())
  );
}
function selectItem(val) {
  emit("update:modelValue", val[props.listName]);
  filteredList.value = [];
  emit("selected", val);
}

// outside click for hide list
useDetectOutsideClick(componentRef, () => {
  filteredList.value = [];
});
</script>
<template>
  <div class="is-flex input" ref="componentRef">
    <input
      type="search"
      class="input"
      v-model="model"
      :placeholder="placeholder"
    />
    <template v-if="filteredList.length">
      <ul class="list">
        <li
          v-for="(item, index) in filteredList"
          :key="index"
          class="list-item"
          @click="selectItem(item)"
        >
          {{ item[props.listName] }}
        </li>
      </ul>
    </template>
  </div>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

.input {
  gap: 12px;
  position: relative;

  .list {
    position: absolute;
    top: -7px;
    transform: translateY(-100%);
    width: 200px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f7f7f7;
    box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.14);
    &-item {
      padding: 10px 15px;
      cursor: pointer;
      & + .list-item {
        border-top: 1px solid #b9b8b8;
      }
      &:hover {
        color: $light;
        background-color: $light-red;
      }
    }
  }
  input {
    padding: 12px 16px;
    width: 350px;
    background: $light;
    border: 1px solid #cbcbcb;
    border-radius: $br-normal;
    font-size: $fs-md;
    background: url("../../assets/search.svg") no-repeat 10px 50%;
    padding-left: 50px;
    &:focus-visible {
      outline: 2px solid $light-red;
    }
  }
}
</style>
