<template>
  <div class="is-flex is-align-items-center">
    <div class="slide-arrow left">
      <img src="../../assets/icons/left-arrow.svg" alt="left-arrow" />
    </div>
    <slot name="content"></slot>
    <div class="slide-arrow right">
      <img src="../../assets/icons/right-arrow.svg" alt="right-arrow" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

.slide-arrow {
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  background-color: $light-red;
  border-radius: $br-normal;
  flex-shrink: 0;
  cursor: pointer;
  img {
    transition: 0.33s ease;
  }
  &.left {
    transform: translate(-50px);
  }
  &.right {
    transform: translate(50px);
  }
  &.left:hover img {
    transform: scale(0.8) translateX(-3px);
  }
  &.right:hover img {
    transform: scale(0.8) translateX(3px);
  }
}
</style>
