<script>
import { ref } from "vue";

export default {
  props: {
    activeTab: Number,
    tabs: Array,
  },
  setup() {
    const activeTab = ref(1);
    return {
      activeTab,
    };
  },
};
</script>
<template>
  <div class="tabs">
    <div class="tabs__header">
      <template v-for="(tab, index) in tabs" :key="index">
        <label
          :for="tab.id"
          v-text="tab.name"
          :class="{ active: index + 1 === activeTab }"
        ></label>
        <input
          type="radio"
          :value="index + 1"
          v-model="activeTab"
          :id="tab.id"
          :name="tab.name"
        />
      </template>
    </div>
    <div class="tabs__body">
      <template v-for="(tab, index) in tabs">
        <div :key="index" v-if="index + 1 === activeTab">
          <slot :name="`tabItem${index + 1}`" />
        </div>
      </template>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "../../assets/styles/scss/variables";

input {
  appearance: none;
}
label {
  cursor: pointer;
  font-weight: $fw-bold;
  padding: 15px 20px;
  display: inline-block;
  transition: 0.44s ease-out;
  &.active {
    background: $light;
    color: red;
  }
}
.tabs {
  width: 100%;
  margin-top: -40px;
  &__header {
    display: inline-flex;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
  &__body {
    background: $light;
    padding: 20px 35px;
    // background: red;
    border-radius: 0px 12px 12px 12px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
  }
}
</style>
